Django==1.4.3
Markdown==2.2.1
Pillow==1.7.8
Pygments==1.6
South==0.7.6
argparse==1.2.1
distribute==0.6.24
djangorestframework==2.1.16
easy-thumbnails==1.2
gunicorn==0.17.4
hamlpy==0.82.2
newrelic==1.11.0.55
pip-tools==0.2.1
simplejson==3.1.0
wsgiref==0.1.2
