{% extends 'base.html' %}

{% block css %}
:css
	.jumbotron {
		margin: 60px 0;
		text-align: center;
	}
	.jumbotron h1 {
		font-size: 72px;
		line-height: 1;
	}
	.jumbotron .btn {
		font-size: 21px;
		padding: 14px 24px;
	}
	
	/* Supporting marketing content */
	.marketing {
		margin: 60px 0;
	}
	.marketing p + h4 {
		margin-top: 28px;
	}
{% endblock %}


{% block content %}
.container{:style => "margin-top: 20px"}
	.jumbotron
		%h1 Conserte me! N&atilde;o me ignore mais, por favor!
		%p.lead Existem muitos problemas em nossas cidades que parecem que s&atilde;o simplesmente ignorados por quem os devia resolver. Ser&aacute; que eles n&atilde;o s&atilde;o importantes, ou ser&aacute; que ningu&eacute;m sabe da exist&ecirc;ncia deles? Vamos mostrar onde eles est&atilde;o, e como atrapalham nossa vida!
		%a.btn.btn-large.btn-success{:href => "/issues/new/"} Voc&ecirc; conhece um problema da sua cidade? Cadastre!
	%hr/
	.row-fluid.marketing
		.span6
			%h4 Objetivo
			%p O projeto &eacute; uma iniciativa para que, em colabora&ccedil;&atilde;o, todos possamos ter uma vis&atilde;o maior dos problemas que afetam nossas cidades. Uma tentativa de chamar a aten&ccedil;&atilde;o do poder p&uacute;blico para os problemas existentes, servindo como um canal de comunica&ccedil;&atilde;o entre &agrave;queles que sofrem pelas consequencias dos problemas urbanos e as autoridades.
		/
			div class="span6">
			<h4>Subheading</h4>
			<p>.</p>
			</div
	.row
{% endblock %}
