{% extends 'base.html' %}

{% block css %}
<style  type="text/css">
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
</style>
{% endblock %}


{% block content %}
<div class="container" style="margin-top: 20px">
<div class="jumbotron">
        <h1>Concerte me! Não me ignore mais, por favor!</h1>
        <p class="lead">Existem muitos problemas em nossas cidades que parecem que são simplismente ignorados por que devia os resolver. Será que eles não são importantes, ou será que ninguém sabe da existência deles? Vamos mostrar onde eles estão, e como atrapalham nossa vida!</p>
        <a class="btn btn-large btn-success" href="/issues/new/">Você conhece um problema da cidade? Cadastre!</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Objetivo</h4>
          <p>O projeto é uma iniciativa para que, em colaboração, todos possamos ter uma visão maior dos problemas que afetam nossas cidades. Uma tentativa de chamar a atenção do poder público para os problemas existentes, servindo como um canal de comunicação entre àqueles que sofrem pelas consequencias dos problemas urbanos e as autoridades.</p>
        </div>

        <!--div class="span6">
          <h4>Subheading</h4>
          <p>.</p>
        </div-->
      </div>




	<div class="row">





	</div>
</div>
{% endblock %}
