{% extends 'base.html' %}


{% block css %}
  <style type="text/css">
    table { table-layout: fixed; }
    td.ellipsis-overflow { height: 25px; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; }
  </style>
{% endblock %}


{% block content %}
  <div class="container" style="margin-top: 20px">

    <div class="row">
    {% if issues %}
    <table class="table-striped span12">
      <thead>
        <tr>
          <th class="span3">Titulo</th>
          <th class="span9">Descricao</th>
        </tr>
      </thead>

      <tbody>
      {% for issue in issues %}
      <tr>
        <td class="ellipsis-overflow"><a href="{% url issue_show issue.id %}">{{ issue.name }}</a></td>
        <td class="ellipsis-overflow">{{ issue.description }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>

    <div class="row" style="margin-top: 20px;">
    <div class="pagination pagination-centered">
      <ul>
	{% if issues.has_previous %}
        <li><a href="?page={{issues.previous_page_number}}">Prev</a></li>
	{% else %}
        <li class="disabled"><a href="#">Prev</a></li>
	{% endif %}

	{% for counter in issues.paginator.page_range %}
		{% if counter == issues.number %}
		<li class="active"><a href="#">{{counter}}</a></li>
		{% else %}
		<li><a href="?page={{counter}}">{{counter}}</a></li>
		{% endif %}
	{% endfor %}

	{% if issues.has_next %}
        <li><a href="?page={{issues.next_page_number}}">Next</a></li>
	{% else %}
        <li class="disabled"><a href="#">Next</a></li>
	{% endif %}
      </ul>
    </div>
    {% else %}
    Nao existem pontos cadastrados.
    {% endif %}

  </div>
  </div>
{% endblock %}
