{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

    <style type="text/css">
      html, body {height: 100%; width: 100%}
      body {
        width: 100%;
      }
      .fill { 
        height: 100%; 
        height: calc(100% - 40px); 
        height: -webkit-calc(100% - 40px); 
        height: -moz-calc(100% - 40px); 
        width: 100%;
      }
      #map_canvas {
        position: absolute; 
        top: 40px; 
        width: 100%; 
        padding: 0px; 
	margin-bottom:50px;
      }
      .info-panel {
        position: absolute; 
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        top: 80px; 
        right: 40px; 
        z-index: 99; 
        width: 350px;
        padding: 20px;
        -webkit-border-radius: 5px;
      }
      input.text { margin-bottom:12px; width:95%; padding: .4em; }
      fieldset { padding:0; border:0; margin-top:5px; height: auto}
      h1 { font-size: 1.2em; margin: .6em 0; }
      div#users-contain { width: 350px; margin: 20px 0; }
      div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
      div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
      .ui-dialog .ui-state-error { padding: .3em; }
      #dialog_form.ui-dialog-content { height: 300px }
    </style>
{% endblock %}

{% block content %}
    <div id="map_canvas" class="map fill"> </div>

    <div>
     <div class="accordion info-panel" id="accordion2">
       <div class="accordion-group" style="padding: 10px">
       <h5>Para marcar um problema:</h5>
       <p>Simplismente clique em qualquer lugar no mapa,
       um poupup para o cadastro ir&aacute; abrir.</p>
       </div>
     </div>
    </div>

    <div class="row" id="spinner-div">

    <div id="janela_novo_problema" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Novo Problema</h3>
      </div>
      <div class="modal-body">
        <p>One fine body.</p>


        <form>
          <div class="alert alert-error" style="display: none">
            <h4 style="padding-bottom: 10px;">Aten&ccedil;&atilde;o!</h4>
            <ul id='errors_list'>
            </ul>
          </div>

          {% csrf_token %}
          <label for="name">Titulo</label>
          <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />

          <label for="description">Descricao:</label>
          <textarea class='text ui-widget-content ui-corner-all input-block-level' rows="4" name="description" id="description"></textarea>

          <input type="hidden" name="latitude" id="latitude" />
          <input type="hidden" name="longitude" id="longitude" />
        </form>


      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div>


    <div id="dialog-form" title="Novo problema" style="height: 500px; display: none">
      <form id="new-issue-form">
      <fieldset id="new-issue-fieldset">
        <div class="alert alert-error" style="display: none">
          <h4 style="padding-bottom: 10px;">Aten&ccedil;&atilde;o!</h4>
          <ul id='errors_list'>
          </ul>
        </div>

        {% csrf_token %}
        <label for="name">Titulo</label>
        <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />

        <label for="description">Descricao:</label>
	<textarea class='text ui-widget-content ui-corner-all input-block-level' rows="4" name="description" id="description"></textarea>

        <input type="hidden" name="latitude" id="latitude" />
        <input type="hidden" name="longitude" id="longitude" />
      </fieldset>
      </form>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/assets/js/jquery.ui.map.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.ui.map.services.js"></script>
    <script type="text/javascript" src="/assets/js/issues.new.js"></script>
    <script type="text/javascript" src="/assets/js/spin.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.spin.js"></script>
{% endblock %}
