{% extends "base.html" %}


{% block css %}
    <style type="text/css">
      html, body {height: 100%; width: 100%}
      body { width: 100%; }
	  .fill { width: 100%; height:100%}
      #map_canvas_small {
        width: 100%;
        height: 200px;
        padding: 0px;
        margin-bottom:30px;
      }
	  .issue_photo { width: 100% }
      .container.content { padding-top: 20px }
	  #details_summary {display: none;}
	  .dl-horizontal dt { width: 100px;}
	  .dl-horizontal dd { margin-left: 120px; margin-right: 20px; }
    </style>
{% endblock %}

{% block content %}

      <div class="container content">
        <div class="row">
          <div class="span7">
			
            <h2 style="word-wrap: break-word;">{{issue.name}} <button class="btn btn-success">Seguir</button></h2>
			<dl class="dl-horizontal">
				<dt>Status</dt>
				<dd>{% if issue.open %}Aberto{% else %}Fechado{% endif %}</dd>
				<dt>Descrição</dt>
				<dd>{{issue.description}}</dd>
			</dl>
          </div>
			<div class="span5" style="margin-top: 90px">
				<!--div class="row">
					<div class="span5">
							<div id="map_canvas_small" class="map fill"> </div>
					</div>
				</div-->
				<div class="row">
					<div class="span5">
						<img class="issue_photo" src="http://wp.clicrbs.com.br/seuproblema/files/2012/11/01dgolspn16112012.jpg">
						<div id="details_summary">
						<span id="latitude">{{issue.latitude}}</span>
						<span id="longitude">{{issue.longitude}}</span>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 20px">
					<div class="span5">
							<div id="map_canvas_small" class="map fill"> </div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span12">
				<hr>
				<h4>Deixe seu comentario</h4>
				<button class="btn btn-primary">Comentar</button>
			</div>
		</div>

        <!-- new comment -->
        {% if success %}
        <div class="alert alert-error" style="display: none">
          <h4 style="padding-bottom: 10px;">Aten&ccedil;&atilde;o!</h4>
          <ul id='errors_list'>
          </ul>
        </div>
        {% endif %}

{% load comments %}
{% get_comment_form for issue as form %}
<div class="row">
	<div class="span6">
		<div class="row">
			{{comment_form_target}}
			<form action="{% comment_form_target %}" method="post" class="form-horizontal" id="issue_comment_form">
				{{ form.content_type }}
				{{ form.object_pk }}
				{{ form.timestamp }}
				{{ form.security_hash }}
				<input type="hidden" name="next" value="/issues/{{issue.id}}" />
				<input type="hidden" name="email" value="foo@foo.foo" />
				{% csrf_token %}

				<div class="span5">
					<div class="control-group">
						<label class="control-label" for="id_name">Nome:</label>
						<div class="controls">
							<input id="id_name" type="text" name="name" maxlength="50"><br>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="id_comment">comentario:</label>
						<div class="controls">
							<textarea id="id_comment" class="input-block-level" rows="4" name="comment"></textarea>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn">Enviar</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

          <div class="span6">
            <div class="alert alert-error" style="display: none">
              <h4 style="padding-bottom: 10px;">Aten&ccedil;&atilde;o!</h4>
              <ul id='errors_list'>
              </ul>
            </div>
	  </div>

          <div class="span12">
	  {% render_comment_list for issue %}
          </div>


        </div>
      </div>
{% endblock %}

{% block javascripts %}
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/assets/js/jquery.ui.map.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.ui.map.services.js"></script>
    <script src="/assets/js/issues.show.js"></script>
{% endblock %}
