{% extends "base.html" %}

{% block css %}
:css
  .login {padding-bottom: 0px}
  .login-screen { padding-top: 30px}
  .lead {color: #8E44AD}
  h1 {color: #3498DB}
  p { color: black}
{% endblock %}

{% block content %}

{% if form.errors %}
%p Your username and password didn't match. Please try again.
{% endif %}


%div.container
  %div.row
    %div.span12
      .login
        .login-screen
          %form{:action => "{% url profile_create %}", :method => "post"}
            {% csrf_token %}
            %input{:name => "next", :type => "hidden", :value => ""}/
            .login-form
              .control-group
                %h1 Novo usuario
              {% if messages %}
              .control-group
                {% for message in messages %}
                %p{:class => "text-error"} 
                  {{ message }}
                {% endfor %}
              {% endif %}
              .control-group
                %input#login-name.login-field{:placeholder => "Enter your name", :type => "text", :name => "username", :value => ""}/
                %label.login-field-icon.fui-man-16{:for => "login-name"}
              .control-group
                %input#login-name.login-field{:placeholder => "Enter your email", :type => "text", :name => "email", :value => ""}/
                %label.login-field-icon.fui-mail-16{:for => "login-email"}
              .control-group
                %input#login-pass.login-field{:placeholder => "Password", :type => "password", :name => "password", :value => ""}/
                %label.login-field-icon.fui-lock-16{:for => "login-pass"}
              .control-group
                %input#login-pass.login-field{:placeholder => "Password Again", :type => "password", :name => "password_confirmation", :value => ""}/
                %label.login-field-icon.fui-lock-16{:for => "login-pass"}
              .control-group
                %p Certifique-se de inserir informacoes validas, nos entraremos em contato com voce atraves de seu email.
              %button.btn.btn-primary.btn-large.btn-block{:type => "submit"} Enviar

{% endblock %}


