!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Conserte.me!
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/

    %link{:href => "/assets/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/assets/flat-ui/css/flat-ui.css", :rel => "stylesheet"}
    %link{:href => "/assets/css/application.css", :rel => "stylesheet"}/
    / page specific css
    {% block css %}{% endblock %}
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Fav and touch icons
    %link{:href => "../assets/ico/favicon.png", :rel => "shortcut icon"}/
  %body
    {% include 'base_menu.haml' %}
    {% block content %}{% endblock %}
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "http://code.jquery.com/jquery-latest.js"}
    %script{:src => "/assets/js/bootstrap.js"}
    %script{:src => "/assets/js/jquery.cookie.js"}
    / page specific javascripts
    {% block javascripts %}{% endblock %}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40655612-1', 'conserte.me');
      ga('send', 'pageview');

